header {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1000;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* position: sticky;
    top: 0;
    left: 0; */
    border-bottom: var(--card-border);
    background: var(--blur-bg);
    backdrop-filter: var(--blur-filter);
}

.site-name {
    display: flex;
}

#site-name {
    font-size: 1.3em;
    font-weight: bold;
    color: var(--text-color);
    margin: 0.5rem;
    margin-left: 1rem;
}

nav .nav-right {
    display: flex;
    align-items: center;
    margin: 0 0.5em;
}

nav .nav-links {
    display: flex;
    align-items: left;
    gap: 1em;
    margin: 0.5em;
}

@media (max-width: 40em) {
    nav .nav-links {
        display: none;
    }
}

nav .nav-links .nav-link {
    display: flex;
    gap: 0.5em;
    align-items: center;
    color: var(--text-color);
    text-decoration: none;
}

nav .nav-links a:hover {
    color: var(--text-color-hover);
}


nav .nav-btns {
    grid-area: nav-btns;
    justify-self: end;
    display: flex;
    align-items: center;
    gap: 0.5em;
    margin: 0.5em;
}

nav .nav-btns .nav-btn {
    display: flex;
    align-items: center;
    /* justify-content: center; */
    background: transparent;
    border: none;
    /* color: var(--text-color); */
    color: inherit;
    cursor: pointer;
    font-size: 1.2em;
    padding: 0.5rem;
    border-radius: var(--btn-border-radius);
}

nav .nav-btns .nav-btn:hover {
    background: var(--btn-hover-bg);
}

@media (min-width: 40em) {
    nav .nav-btns .nav-btn.toggle-mobile-menu-btn {
        display: none;
    }
}


/* 移动端菜单 */
.nav-mobile-menu {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    /* 老浏览器兼容 */
    height: 100vh;
    height: 100dvh;
    width: 100vw;
    width: 100dvw;
    z-index: 9999;
    background: transparent;

    transition: var(--animation-time) allow-discrete;
    @starting-style {
        background: transparent;
    }
}

.nav-mobile-menu .nav-menu-container {
    height: 100%;
    width: 15em;
    max-width: 80%;

    transform: translateX(100%);
    transition: var(--animation-time) allow-discrete;

    position: absolute;
    top: 0;
    right: 0;
    padding: 1em;
    box-sizing: border-box;
    border: var(--card-border);
    border-radius: var(--card-border-radius) 0 0 var(--card-border-radius);

    @starting-style {
        transform: translateX(100%);
    }
}



.nav-mobile-menu.open {
    display: block;
    background: var(--blur-bg);
}

.nav-mobile-menu.open .nav-menu-container {
    backdrop-filter: var(--blur-filter);
    transform: translateX(0);
    /* animation: nav-mobile-menu-container-open var(--animation-time) ease-in-out forwards; */
}


@keyframes nav-mobile-menu-container-open {
    0% {
        /* background: transparent; */
        transform: translateX(100%);
    }

    100% {
        /* background: var(--blur-bg); */
        transform: translateX(0);
    }
}

.nav-mobile-menu .nav-menu-container .nav-menu-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em;
    /* box-sizing: border-box; */
}

.nav-menu-title {
    margin: 0;
}

.nav-menu-close-btn {
    font-size: 1.5em;
    cursor: pointer;
    background: none;
    border: none;
    /* color: var(--text-color); */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    border-radius: var(--btn-border-radius);
    transition: background .3s ease-in-out;
}

.nav-menu-close-btn:hover {
    background: var(--btn-hover-bg);
}

.nav-mobile-menu .nav-menu-container .nav-menu-header .nav-menu-close-btn {
    font-size: 1.5em;
    cursor: pointer;
}

.nav-mobile-menu .nav-menu-content {
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
}