.nav-mobile-menu {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    /* 老浏览器兼容 */
    height: 100vh;
    height: 100dvh;
    width: 100vw;
    width: 100dvw;
    z-index: 9999;
}

.nav-mobile-menu .nav-menu-container {
    height: 100%;
    width: 70%;
    position: absolute;
    top: 0;
    right: 0;
    padding: 1em;
    box-sizing: border-box;
    border: var(--card-border);
    border-radius: var(--card-border-radius) 0 0 var(--card-border-radius);
}

@media (max-width: 40em) {
    .nav-mobile-menu.open {
        display: block;
        /* background: var(--blur-bg); */
        animation: nav-mobile-menu-mask-open 0.3s ease-in-out forwards;
    }

    .nav-mobile-menu.open .nav-menu-container {
        backdrop-filter: var(--blur-filter);
        animation: nav-mobile-menu-container-open 0.3s ease-in-out forwards;
    }
}

@keyframes nav-mobile-menu-mask-open {
    0% {
        background: transparent;
    }

    100% {
        background: var(--blur-bg);
    }
}

@keyframes nav-mobile-menu-container-open {
    0% {
        /* background: transparent; */
        transform: translateX(100%);
    }

    100% {
        /* background: var(--blur-bg); */
        transform: translateX(0);
    }
}

.nav-mobile-menu .nav-menu-container .nav-menu-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em;
    /* box-sizing: border-box; */
}

.nav-menu-title {
    margin: 0;
}

.nav-menu-close-btn {
    font-size: 1.5em;
    cursor: pointer;
    background: none;
    border: none;
    /* color: var(--text-color); */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    border-radius: var(--btn-border-radius);
    transition: background .3s ease-in-out;
}

.nav-menu-close-btn:hover {
    background: var(--btn-hover-bg);
}

.nav-mobile-menu .nav-menu-container .nav-menu-header .nav-menu-close-btn {
    font-size: 1.5em;
    cursor: pointer;
}
.nav-mobile-menu .nav-menu-content {
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
}