/* @import url("https://cdn-font.hyperos.mi.com/font/css?family=MiSans_VF:VF:Chinese_Simplify,Latin&display=swap"); */

/* @import url("https://cxl2020mc-1304820025.file.myqcloud.com/fonts/Mi_Sans/MiSans%20VF/result.css"); */


body {
    font-family: "MiSans VF", system-ui, sans-serif;
}

:root {
    margin: 0;
    padding: 0;
    /* width: 100%; */
    scroll-behavior: smooth;
    scroll-padding-top: 5em;
}



:root {
    --card-border: 1px solid var(--theme-color-gay);
    --card-border-hover: 1px solid var(--theme-color);
    --input-border: 1px solid var(--theme-color-gay);
    --btn-border-radius: 0.5rem;
    --code-border-radius: 0.5rem;
    --card-border-radius: 1rem;
    --blur-filter: blur(1rem);
    --animation-time: 0.3s;
}

:root {
    color-scheme: light dark;
}

/* 默认亮色 */
:root {
    --bg-color: #f3f3f3;
    --card-bg: #fff;
    --btn-hover-bg: rgba(50 50 50 / 0.2);
    --blur-bg: rgba(255 255 255 / 0.6);

    --text-color: #333;
    --text-color-secondary: #666;
    --text-color-light: #fff;

    --theme-color: var(--theme-color-blue);
    --theme-color-red: #ef6f48;
    --theme-color-green: #7ba23f;
    --theme-color-blue: #1677b3;
    --theme-color-yellow: #d19826;
    --theme-color-gay: #e4e4e4;

    --theme-color-dark: var(--theme-color-blue-dark);
    --theme-color-red-dark: #b54434;
    --theme-color-green-dark: #579572;
    --theme-color-blue-dark: #6699a1;
    --theme-color-yellow-dark: #ddc871;
}

/* 暗黑模式 */
@media (prefers-color-scheme: dark) {
    :root {
        --bg-color: #121212;
        --card-bg: #222;
        --btn-hover-bg: rgba(50 50 50 / 0.8);
        --blur-bg: rgba(50 50 50 / 0.6);

        --text-color: #fff;
        --text-color-secondary: #aaa;
        --text-color-light: #666;

        --theme-color: var(--theme-color-blue);
        --theme-color-red: #ef6f48;
        --theme-color-green: #7ba23f;
        --theme-color-blue: #1677b3;
        --theme-color-yellow: #d19826;
        --theme-color-gay: #666;

        --theme-color-dark: var(--theme-color-blue-dark);
        --theme-color-red-dark: #b54434;
        --theme-color-green-dark: #579572;
        --theme-color-blue-dark: #6699a1;
        --theme-color-yellow-dark: #ddc871;
    }

    img {
        filter: brightness(75%);
    }
}

@media (prefers-reduced-motion: reduce) {
    :root {
        --animation-time: 0s;
    }
}

body {
    margin: 0;
    background-color: var(--bg-color);
    color: var(--text-color);
    font-size: 1rem;
    /* line-height: 1.5; */
    /* -webkit-tap-highlight-color: transparent */
}


/* 全局滚动条 */
body {
    scrollbar-width: thin;
}

::-webkit-scrollbar {
    width: 0.5em;
    height: 0.5em
}

::-webkit-scrollbar-thumb {
    background: var(--theme-color);
    height: 0.5em;
    border-radius: 999em;
}

::-webkit-scrollbar-track {
    background: rgba(50 50 50 / 0.2);
}

a {
    color: var(--theme-color);
    text-decoration: none;
}


.card {
    background-color: var(--card-bg);
    border: var(--card-border);
    border-radius: var(--card-border-radius);
    padding: 1em;
    transition: border 0.3s ease-in-out;
}

.card:hover {
    border: var(--card-border-hover);
}

.card .card-title {
    margin: 0;
}

@media (max-width: 50em) {
    .card.mobile-card {
        background: inherit;
        padding: 0;
        border: none;
        border-radius: 0;
    }
}


#main-content {
    display: flex;
    gap: 1em;
    padding: 1em;
    /* 顶下侧边栏 */
    min-height: 100vh;
    min-height: 100dvh;
    /* 移动端 */
    @media (max-width: 50em) {
        flex-direction: column;
    };
    /* 宽屏PC端 */
    @media (min-width: 50em) {
        justify-content: center;
    }
}


main {
    flex: 1 1 50em;
    max-width: 60em;
    display: flex;
    flex-direction: column
}

.blog-btn {
    display: flex;
    align-items: center;
    /* justify-content: center; */
    background: transparent;
    border: none;
    color: inherit;
    cursor: pointer;
    /* padding: 0.5rem; */
    border-radius: var(--btn-border-radius);
}

.blog-btn:hover {
    background: var(--btn-hover-bg);
}