.shiki {
    overflow-y: auto;
}

@media (prefers-color-scheme: dark) {

    .shiki,
    .shiki span {
        color: var(--shiki-dark) !important;
        background-color: var(--shiki-dark-bg) !important;
        /* 可选，用于定义字体样式 */
        font-style: var(--shiki-dark-font-style) !important;
        font-weight: var(--shiki-dark-font-weight) !important;
        text-decoration: var(--shiki-dark-text-decoration) !important;
    }
}

.markdown .code-block-container {
    margin: auto;
    padding: 0.5em;
    background: var(--bg-color);
    border-radius: var(--code-border-radius);
}

.markdown .code-block-container .code-block-header {
    display: flex;
    justify-content: space-between;
    /* margin: 0.5em; */
    margin-bottom: 0.5em;
    color: var(--text-color-secondary);
}

.markdown .code-block-container .code-block-header .code-lang {
    font-weight: bold;
}

.markdown .code-block-container .code-block-header .code-copy {
    background: transparent;
    border: none;
    cursor: pointer;
    color: inherit;
}

.markdown .code-block-container .code pre {
    padding: 0.5em;
    margin: 0;
}