aside {
    display: flex;
    flex-direction: column;
    gap: 1em;
    flex: 0 1 20em;
    max-width: 60em;
}

aside .author {
    display: flex;
    align-items: center;
    flex-direction: column;
    /* justify-content: center; */
}

aside .author .author__avatar {
    position: relative;
    width: 5em;
    height: 5em;
    clip-path: circle(closest-side);
}

aside .author .author__info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

aside .author .author__social {
    display: flex;
    gap: 1em;
}

aside .author .author__social a {
    color: var(--text-color);
}