.nav-mobile-menu {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    width: 100dvw;
    height: 100dvh;
    z-index: 9999;
}

.nav-mobile-menu .nav-menu-container {
    height: 90%;
    width: 100%;
    position: absolute;
    bottom: 0;
    padding: 1em;
    box-sizing: border-box;
    border: var(--card-border);
    border-radius: var(--card-border-radius) var(--card-border-radius) 0 0;
}

@media (max-width: 40em) {
    .nav-mobile-menu.open {
        display: block;
        background: var(--blur-bg);
    }
    .nav-mobile-menu.open .nav-menu-container {
        animation: nav-mobile-menu-container-open 0.5s ease-in-out forwards;
    }
}

@keyframes nav-mobile-menu-container-open {
    0% {
        /* background: transparent; */
        transform: translateY(100%);
    }
    100% {
        /* transform: translateX(0); */
        backdrop-filter: var(--blur-filter);
        /* background: var(--blur-bg); */
        transform: translateY(0);
    }
}