.nav-mobile-menu {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    width: 100dvw;
    height: 100dvh;
    z-index: 9999;
}

.nav-mobile-menu .nav-menu-container {
    height: 90%;
    width: 100%;
    position: absolute;
    bottom: 0;
    padding: 1em;
    box-sizing: border-box;
    border: var(--card-border);
    border-radius: var(--card-border-radius) var(--card-border-radius) 0 0;
}

@media (max-width: 40em) {
    .nav-mobile-menu.open {
        display: block;
        background: var(--blur-bg);
    }
    .nav-mobile-menu.open .nav-menu-container {
        backdrop-filter: var(--blur-filter);
        animation: nav-mobile-menu-container-open 0.5s ease-in-out forwards;
    }
}

@keyframes nav-mobile-menu-container-open {
    0% {
        /* background: transparent; */
        transform: translateY(100%);
    }
    100% {
        /* transform: translateX(0); */
        /* background: var(--blur-bg); */
        transform: translateY(0);
    }
}

.nav-mobile-menu .nav-menu-container .nav-menu-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em;
    /* box-sizing: border-box; */
}

.nav-menu-title {
    margin: 0;
}

.nav-menu-close-btn {
    font-size: 1.5em;
    cursor: pointer;
    background: none;
    border: none;
    /* color: var(--text-color); */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    border-radius: var(--btn-border-radius);
    transition: background 0.2s ease-in-out;
}

.nav-menu-close-btn:hover {
    background: var(--btn-hover-bg);
}

.nav-mobile-menu .nav-menu-container .nav-menu-header .nav-menu-close-btn {
    font-size: 1.5em;
    cursor: pointer;
}

.nav-mobile-menu .nav-menu-container .nav-menu-list {
        
    }